
.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  align-items: normal;
  overflow: hidden;
}
.tarjeta img:hover {
  transform: translateY(-20px); /* Desplazar la tarjeta hacia arriba cuando el mouse está sobre ella */
  filter: opacity(.5);
}

.tarjeta:hover .contenido p {
  background-color: rgba(155, 104, 9, 0.858);
  transform: translateY(-150%);
  opacity: 1; /* Hacer que el texto sea visible cuando el mouse está sobre la tarjeta */

}
.tarjeta:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para que el texto sea legible */

}


.tarjeta {
  width: 300px;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  position: relative;
  
 

  z-index: 10;
  word-break: break-all;

}

.tarjeta img{
  width: 300px;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}


/* Estilo para el texto que se desplaza hacia arriba */
.contenido h2,
.contenido p {

  background-color: rgba(239, 187, 91, 0.7); /* Fondo semi-transparente para que el texto sea legible */
  color: white;
  text-align: center;
  transition:  all 0.3s ease-in-out; /* Transición suave para la opacidad del texto */
  text-overflow: clip;  
  opacity: 0; 
  padding: 20px;
  font-size: 20px;
  position: inherit;
  display: flex;
  align-items: flex-end;

  border: 2px solid rgb(255, 255, 255);
  z-index: 10;
  word-break: break-all;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container {
  width: 50%;
  margin: 0 auto;
}

.form-contact {
  width: 100%;
  font-family: "Arial", Times, serif;
}

.form-contact-input {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
}

.form-contact-textarea {
  width: 100%;
  color: #292929;
  font-size: 18px;
  background-color: #E9E9E9;
  border: 1px solid #E9E9E9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 200px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  text-indent: 20px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-family: "Arial", Times, serif;
}

.form-contact-button {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  opacity: .8;
  margin-bottom: 20px;
  cursor: pointer;
  background: orange;
  display: block;
  border: none;
  border-bottom: 1px solid #500707;
  border-right: 1px solid #500707;
  transition: 1s;
}

.form-contact-button:hover {
  opacity: 1;